<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Practicas_2</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Ejercicio_supermercado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ejercicio_supermercado
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Tabla_Multiplicar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tabla_Multiplicar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="temperatura">
                <span class="oi oi-list-rich" aria-hidden="true"></span> temperatura
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Alfabeto">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Alfabeto
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Orden_Ascendente">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Orden_Ascendente
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
